<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome Customer!</h1>
        <p>We're giving away free coupons</p>
        <p>as a token of appreciation</p>
        <p>for first <%=count%> customer(s)</p>
        <p>Kindly type your name:</p>
        <form method="POST" action="/claim">
            <input type="text" name="name">
            <input type="submit" value="submit">
        </form>
    </body>
</html>